<?xml version="1.0" encoding="ISO-8859-1"?>

<beans>

    <bean id="userDao" class="com.phillee.springframework.bean.UserDao"/>

    <bean id="userService" class="com.phillee.springframework.bean.UserService">
        <property name="uId" value="10001"/>
        <property name="company" value="??"/>
        <property name="location" value="??"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.phillee.springframework.common.MyBeanPostProcessor"/>
    <bean class="com.phillee.springframework.common.MyBeanFactoryPostProcessor"/>

</beans>